@font-face {
  font-family: "ComicFont";
  src: url("../shared/fonts/BADABB__.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ComicFont", "Times New Roman", Times, serif;
}
.wrapper {
  max-width: 100vw;
  background: url(../shared/images/279.jpg);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
