.heroWrapper {
  min-height: 70vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
}

.heroContainer {
  width: 100%;
  height: 80%;
  display: flex;
}

.heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.heroImageContainer img {
  border: 1px black solid;
}

.heroContentContainer {
  background-color: white;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.heroNameContainer {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 10px;
}

.heroNameContainer h3 {
  font-size: 35px;
}

.heroDescriptionContainer {
  text-align: center;
  padding: 5px;
}
.heroDescriptionContainer p {
  letter-spacing: 2px;
}

.heroAttributionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroAttributionContainer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  letter-spacing: 2px;
}

.heroAttributionContainer p {
  letter-spacing: 2px;
}

.learn-more:hover {
  transform: scale(120%);
  color: #008000;
  background-color: white;
}
