.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  min-height: 100vh;
}

.searchWrapper input {
  margin: 10px 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.characterGrid {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.gridItem {
  justify-content: center;
  display: flex;
  min-width: 280px;
  width: 280px;
  min-height: 460px;
  height: 460px;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.gridItem img {
  width: inherit;
  height: inherit;
  border-color: black;
  border-radius: 12px;
}
.gridItem p {
  background-color: white;
  border: 1px black solid;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .characterGrid {
    grid-template-columns: repeat(2, auto);
  }
  .gridItem {
    margin: 10px 10px;
  }
}

@media screen and (min-width: 1024px) {
  .characterGrid {
    grid-template-columns: repeat(3, auto);
  }

  .gridItem {
    transition: ease-in 0.3s all;
  }

  .gridItem:hover {
    transform: scale(110%);
  }
}

@media screen and (min-width: 1200px) {
  .characterGrid {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 1500px) {
  .characterGrid {
    grid-template-columns: repeat(5, auto);
  }
}
