.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
}

.characterGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, auto);
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
